/* Let's highlight canvas boundaries */
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.editor-canvas {
  width: 100%;
}

.gjs-editor-cont{
  height: 200px;
}


.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

.panel__switcher {
  position: initial;
}

.gjs-cv-canvas{
  background-color: rgba(0,0,0,.15);
  box-sizing: border-box;
  z-index: 1;
}


.gjs-editor{
  height: auto;
}

.gjs-cv-canvas{
  height: auto;
  width: auto;
  position: inherit;
  overflow: visible;
}

.gjs-cv-canvas__frames{
  position: inherit;
  height: auto;
  width: auto;
}

.gjs-frame-wrapper{
  position: inherit;
  height: auto; 
  width: auto;
}

.gjs-frame{
  position: inherit;
}

/* .gjs-toolbar{
  right: -30px;
  left: auto!important;
  border-radius: 13px;
  top: 0;
}

.gjs-toolbar div{
  display: flex;
  flex-direction: column;
} */

.gjs-toolbar{
  display: none;
}
.gjs-rte-toolbar{
  display: none;
}